@charset "UTF-8";

#all{
	position: relative;
    top: 100px;
}
.input:focus{
    
    font-size: 25px;
    transition: font-size 0.3s ease-in;
}

.input{
	font-size: 20px;
	width:90%;
	border-radius: 5px;	
}

.tdText{
	
	color: white;
	font-weight: bold;
	border-radius: 5px;
}



#form{
	
	padding: 5px;
	background-color: inherit;
	border: 2px solid white;
	
	
	width: 40%;
	
	margin:0 auto;
	text-align:center;
	color: white;
	border-radius: 5px;
}

#title{
	border-radius: 5px;
	color:black;
	background-color: white;
	
}

#btn{
	font-family: 'Nanum Pen Script', cursive;
	margin: 5px;
	font-size:25px;
	color: white;
	background-color: gray;
	border-radius: 5px;
	border: 0;
    outline: 0;
}

#bg{
	background-size:100% 1000px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 40px;
    font-weight:bold;
    height:100%;
    background-repeat: no-repeat;
	background-color: black;
	background-image: url('https://cdn.imweb.me/upload/S202002259d2c4f16c33cd/678615a937902.jpg');
}
